SERVER_BASE_URL=
SPRING_BOOT_URL=
SESSION_SERVICE_URL=
AGENT_PORT=
LOCAL_ONLY=
GATEWAY_SECRET=
OPENROUTER_BASE_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_VISION_MODEL=
API_TIMEOUT=
PHASE_CACHE_TTL_SECONDS=
EMOTION_CLASSES=
CAMERA_INDEX=
CAMERA_WARMUP_FRAMES=
FACE_SCALE_FACTOR=
FACE_MIN_NEIGHBORS=
FACE_MIN_SIZE=
FACE_MARGIN_PERCENT=
MODEL_INPUT_SIZE=
