<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="auth-service"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"${appName}"}</customFields>
    </encoder>
  </appender>

  <appender name="PLAIN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="prod,docker">
    <root level="INFO">
      <appender-ref ref="JSON_CONSOLE"/>
    </root>
    <logger name="com.declitech.auth" level="INFO"/>
    <logger name="org.springframework.security" level="WARN"/>
  </springProfile>

  <springProfile name="!prod &amp; !docker">
    <root level="INFO">
      <appender-ref ref="PLAIN_CONSOLE"/>
    </root>
    <logger name="com.declitech.auth" level="DEBUG"/>
  </springProfile>

</configuration>
