DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
GATEWAY_SECRET=
COOKIE_SECURE=
ACTUATOR_SHOW_DETAILS=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
REDIS_HOST=
REDIS_PORT=
FRONTEND_URL=
DDL_AUTO=
SHOW_SQL=
KAFKA_BOOTSTRAP=
EUREKA_URL=
DEBUG=
